.container {
  max-width: 80rem;
  padding-bottom: 7.5rem;
  padding-top: 7.5rem;
}

#home {
  background: #f4f5f6;
  height: 100vh;
  position: relative;
  max-height: 100vh;
  min-width: 100vw;
}

.thumbnail {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
.header {
  background-color: #241b18;
  height: 125px;
  border-bottom: 1px solid #fff;
  padding: 36px 0 0;
}
.h-center {
  max-width: 940px;
  margin: 0 auto;
}
a {
  color: white;
}
a.selected {
  color: yellow;
}
.column.tx-center {
  text-align: center;
}
